VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_BUCKET_ID=your_bucket_id

# Collections
VITE_COLLECTION_LISTING=listing
VITE_COLLECTION_FAVORITES=favorites
VITE_COLLECTION_CONVERSATIONS=conversations
VITE_COLLECTION_MESSAGES=messages
